@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    @apply bg-sky-500 text-white ;
}

@layer base {
  html {
    font-family: "Rubik", sans-serif;
  }
}

@layer base {
  @font-face {
    font-family: 'Rubik';
    /* font-style: normal;
    font-weight: 400;
    font-display: swap; */
    src: url(/fonts/Rubik-Regular.ttf) format('truetype');
  }
}

/* https://tailwindcss.com/docs/font-family */